{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="200"
     height="200">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.profile.nick }}</p>
            <p class="text-secondary">{{ user.profile.email }}</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Edit Info</legend>

      {{ p_form }}
      <!-- Profile form -->
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>
    </div>
{% endblock %}