{% extends 'base.html' %}
{% block content %}
    <h2> Tasks </h2>
    <ul>
        {% for task in tasks %}
            <li>
            <a href="{% url 'details' task.0 %}" > {{task.1}} </a>

                <div class="my-2"></div>
            <div class="btn-group">

                    <a href="{% url 'task_update' task.0 %}" class="btn btn-primary mr-2"> EDIT</a>
                    <a href="{% url 'task_delete' task.0 %}" class="btn btn-danger"> DELETE</a>

                </div>

            </li>


        {% endfor %}


    </ul>




{% endblock %}