{% extends 'base.html' %}
{% block content %}
    <h2> Details </h2>
    <ul>
        {% for detail in details %}


            <li>
           {{ detail.0 }}<br/>
                {% for stats in stat %}
                {% if stats.0 == detail.1 %}
                    {{ stats.1}}<br/>
                {% endif %}
                {% endfor %}
           <p> Deadline:</p> {{ detail.2 }}<br/>
           <p> Added: </p> {{ detail.3 }}<br/>




                <div class="my-2"></div>

            <div class="btn-group">

{#                    <a href="{% url 'task_update' %}" class="btn btn-primary mr-2"> EDIT</a>#}
{#                    <a href="{% url 'task_delete' task.0 %}" class="btn btn-danger"> DELETE</a>#}

                </div>

            </li>


        {% endfor %}


    </ul>



{% endblock %}