{% extends 'base.html' %}
{% block content %}
    <h2> To do list </h2>
    <ul>
        {% for list in todolist %}
        {% if list.user_id_id == user.id %}
            <li>
            <a href="{% url 'tasks_list' list.id %}">{{list.name }}</a>

                <div class="my-2"></div>

            <div class="btn-group">


                    <a href="{% url 'list_delete' list.id %}" class="btn btn-danger"> DELETE</a>

                </div>




            </li> <br/>

        {% endif %}
        {% endfor %}
    <a class="btn btn-warning mr-2" href="{% url 'list_create' %}">
              Add new list
            </a>

        <a class="btn btn-primary mr-2" href="{% url 'task_create' %}">
              Add new task
            </a>

    </ul>




{% endblock %}